.md-dialog-container {
    top: 0px !important;
}

md-backdrop.md-dialog-backdrop .md-opaque {
    height: 0px !important;
}

#popupContainer {
    width: 60vw;
    height: 60vh;
    z-index: 1000;
}

table#attendence {
    font-family: 'AppleGothic';
    font-size: 24px;
    color: rgba(111, 184, 217, 1);
    text-align: right;
    width: 60vw;
    height: 70vh;
    border-radius: 8px !important;
    opacity: 100;
    border: solid 3px rgba(180, 221, 239, 0.99) !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-collapse: separate;
    table-layout: fixed;
}

table#attendence tr:first-child td {
    border-bottom-color: rgba(111, 184, 217, 1);
    border-bottom-width: 2px;
}

table#attendence td,
table#attendence th {
    opacity: 100;
    border: solid 1px #D8D1C7;
}

.calenderheader {
    float: right;
}

.calendar {
    width: 623px;
    height: 430px;
}

.dayNum {
    width: 25px;
    height: 29px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: AppleGothic;
    line-height: 0px;
    font-size: 24px;
    letter-spacing: 0px;
    padding-right: 30%;
}

span.dateShow {
    font-size: 18px;
    display: inline-block;
    width: 160px;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    color: #3B5372;
}

.status span {
    margin-top: 5px;
    display: block;
    text-align: center;
}

.Present {
    background: url(../assets/ion-checkmark-round.png) no-repeat;
    background-size: 17px, 21px, auto;
    background-position: center;
    height: 21px;
}

.Leave {
    background: url(../assets/L.png) no-repeat;
    background-size: 12px, 23px, auto;
    background-position: center;
    height: 17px;
}

.CompLeave {
    background: url(../assets/C.png) no-repeat;
    background-size: 17px, 21px, auto;
    background-position: center;
    height: 21px;
}

.unmark {
    background: url(../assets/ion-alert.png) no-repeat;
    background-size: 7px, 10px, auto;
    background-position: center;
    height: 17px;
}

.upcoming {
    color: goldenrod;
    text-shadow: 1px 1px 8px #aaa;
}

md-dialog-content {
    text-align: left;
    color: #6FB8D9;
    font-size: 15px;
}

.md-dialog-content#popupStatus {
    text-align: left;
    color: #6FB8D9;
    font-size: 15px;
    max-height: 90%;
}

md-backdrop {
    display: none;
}

#calenderEdit {
    float: right;
    border: 0px;
}

#calenderSave {
    float: right;
    width: 79px;
    height: 44px;
    border-radius: 3px;
    opacity: 100;
    background-color: #6FB8D9;
    text-align: left;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 0px;
}

#calenderCancel {
    float: right;
    width: 79px;
    height: 44px;
    border-radius: 3px;
    opacity: 100;
    background-color: #FFFFFF;
    border: solid 1px #6FB8D9;
    text-align: left;
    color: #6FB8D9;
    font-size: 20px;
    letter-spacing: 0px;
}

.dropdown-menu {
    min-width: 35px !important;
    text-align: center !important;
    font-size: 20px;
}

.weekDay {
    text-align: center;
}

.dropdown-menu li {
    padding: 5px;
}

label {
    width: 20px;
}

md-dialog {
    width: 306px;
    height: 189px;
    border-radius: 12px !important;
    opacity: 100;
    background-color: #FFFFFF;
    border: solid 2px #6FB8D9;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.446);
}

.popupTable {
    color: #6FB8D9;
    height: 45%;
    width: 90%;
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

.popupTable td {
    border: 0 !important;
}

#textareaReason {
    resize: none;
    border: 0;
    margin: 0px;
    width: 218px;
    height: 60px;
}

.activeLi {
    border-width: 10px;
    border-bottom: solid rgba(59, 83, 114, 1);
}

body {
    padding-top: 90px;
}

.activeLi {
    border-width: 10px;
    border-bottom: solid rgba(59, 83, 114, 1);
    transition: 0.3s ease;
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav img {
    width: 1em;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ul {
    text-indent: 1em;
    font-size: 2em;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav.anchor {
    color: #D8D1C7!important;
    opacity: 100;
    text-align: left;
    font-family: LucidaGrande-Bold;
    font-size: 18px;
}

#menuBar {
    color: red;
    right: 25;
    position: absolute;
    float: right;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .sidenav {
        display: none;
    }
    #menuBar {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #profiletable img {
        object-fit: cover;
        display: block;
        /*margin: auto;*/
        height: 60vh;
        width: 100vw;
    }
    #profileDetail {
        display: none;
    }
    #left-sidebar {
        display: none;
    }
    table#attendence,
    #popupContainer {
        width: 90vw;
    }
    table#attendence tr:first-child {
        font-size: 15px;
    }
    .dayNum {
        font-size: 16px;
    }
    .Present,
    .CompLeave {
        background-size: 12px, 22px, auto;
        height: 15px;
    }
    .Leave {
        background-size: 9px, 20px, auto;
        height: 15px;
    }
    .unmark {
        background-size: 4px, 10px, auto;
        background-position: center;
        height: 15px;
    }
    .nav.navbar-nav.navbar-right {
        margin: auto;
    }
    ul#block.dropdown-menu {
        width: 100vw;
        margin-left: -10px;
    }
    label {
        width: 10px;
    }
    table#attendence {
        height: 50vh;
    }
    body {
        padding-top: 50px;
    }
}

@media (max-width:1000px) and (min-width:768px) {
    #profile1 {
        width: 300px;
    }
    #profile2 {
        width: 300px;
    }
    calendar {
        float: right;
    }
    .profileImg {
        text-align: center;
    }
    .profileName {
        text-align: center;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .col-xs-12 {
        width: auto !important;
    }
    #popupContainer {
        height: 50vh;
    }
    table#attendence {
        height: 50vh;
    }
}

.calenderButton ul {
    top: 50px !important;
    right: 200px;
    left: auto !important;
}

body {
    overflow-x: hidden;
}

.ui-scrollfix {
    position: fixed;
    top: 90px;
}

md-input-container.popUpIn {
    margin: auto !important;
    width: 50%;
}

md-input-container.popUp {
    margin: auto !important;
    width: auto;
}

#block {
    font-size: 17px;
}

.dropdown-menu>li>a:hover {
    background-color: transparent;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1250px) {
    #profile2 {
        height: 160px;
        width: 300px;
        margin-left: 15px;
    }
}

@media only screen and (min-device-width: 1000px) {
    calendar {
        /*float: right;*/
    }
    #profile2 {
        width: 300px;
    }
}