.card {
    margin-top: 10px;
    border: 2px solid rgba(156, 205, 227, 0.99);
    height: 222px;
    border-radius: 3px;
    opacity: 100;
    background-color: #FFFFFF;
    border: solid 2px #9CCDE3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 50%);
}

.text {
    opacity: 100;
    text-align: left;
    color: #3B5372;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    padding-top: 17px;
}

.text1 {
    opacity: 100;
    text-align: center;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    padding-top: 30%;
}

@media (max-width:990px) {
    .text1 {
        padding-top: 15%;
    }
}

@media (max-width:500px) {
    .text1 {
        padding-top: 30%;
    }
}

.toc {
    float: right;
    margin-top: 17px;
    width: 24px;
    height: 24px;
}

.toc1 {
    margin-top: -10px;
    float: right;
    width: 24px;
    height: 24px;
}

.header {
    padding-left: 19px;
    padding-right: 21px;
}