<div id="popupContainer">
    <div class="btn-edit" style="float:right;">
        <button id="calenderEdit" type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
         <span  id="symbol" class="glyphicon glyphicon-pencil">
      </button>
    </div>
    <div class="calenderheader">
        <i class="fa fa-caret-left fa-lg" ng-click="tableform.$visible||previous()" style="font-size:25px;"></i>
        <span class="dateShow">{{month.format("MMMM, YYYY")}}</span>
        <i class="fa fa-caret-right fa-lg" ng-click="tableform.$visible||next()" style="font-size:25px;"></i>
    </div>
    <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
        <table id="attendence">
            <tbody>
                <tr class="week" ng-repeat="week in weeks" style="height:20%">
                    <td class="day" e-form="tableform" ng-repeat="day in week.days" style="width:14.285%">
                        <span class="dayNum" ng-class="checkAttend(day)">{{day.number}}</span>
                        <div class="status">
                            <span>
                                    <label ng-show="day.number!==undeifned" ng-disabled="tableform.$visible" ng-class="markedStatus" ng-click="tableform.$visible||showAlert($event,day)" id="{{ day.number }}"></label>
                                    <label ng-if="day.enable" ng-show="tableform.$visible">
                                    <dropdown selected-day="{{day}}"></dropdown></label>
                                </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-form" ng-show="tableform.$visible">
            <button type="button" id="calenderCancel" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn">Cancel</button>
            <button type="submit" id="calenderSave" ng-disabled="tableform.$waiting" class="btn">Save</button>
        </div>
    </form>
</div>