<div class="cardBox">
    <a ui-sref="home.Profile({ portfolioId:value.engineerId})">
        <div style="float:left;margin: 4%;">
            <img ng-src="{{value.imageUrl}}" alt="{{value.employeeName}}" style="max-width: 100px;max-height: 120px;" />
        </div>
        <div class="cardData">
            <span>{{value.engineerId}}</span><br>
            <span>{{value.employeeName}}</span><br>
            <span>{{value.employeeStatus}}</span><br>
            <span>{{value.company}}</span><br>
            <span>{{value.mobile}}</span><br>
            <span>{{value.emailId}}</span>
        </div>
    </a>
</div>