<div id="main" style="padding-left: 0px;">
    <div class="row" id="profiletable">
        <div class="col-xs-12 col-lg-3 col-md-3 profileImg">
            <label id="menuBar" style="float:right;font-size:30px;cursor:pointer" onclick="openNav();">&#8942;</label>
            <img ng-src="{{empdetails.imageUrl}}" alt="{{empdetails.employeeName}}" class="img1 image-responsive" border="2"/>
        </div>
        <div class="col-xs-12 col-lg-9 col-md-9" id="profilehead">
            <div class="profileName">
                <h4 style="color:#3B5372;font-weight:bold;font-family:Ionicons;font-size:20px">
                    {{empdetails.employeeName}}</h4>
                <h4>
                    <span style="color:#3B5372;font-weight:bold; ">Id</span> {{portfolioId}}
                </h4>
            </div>
            <div id="profileDetail" >
                <span style="float:left;">
                    <table id="profile1">

                        <tr>
                            <td>Status</td>
                            <td>{{empdetails.employeeStatus}}</td>

                        </tr>
                        <tr>
                            <td style="color:#3B5372">Company</td>
                            <td>{{empdetails.company}}</td>

                        </tr>
                        <tr>
                            <td style="color:#3B5372">Mobile</td>
                            <td>{{empdetails.mobile}}</td>

                        </tr>
                        <tr>
                            <td style="color:#3B5372">Emailid</td>
                            <td>{{empdetails.emailId}}</td>

                        </tr>
                    </table>
                    </span>
                <span style="float:left;">

                    <table id="profile2">

                        <tr>
                            <td>BL Start Date</td>
                            <td>{{empdetails.blStartDate * 1000 | date:'dd MMMM yyyy'}}</td>

                        </tr>
                        <tr>
                            <td style="color:#3B5372">Company Start Date</td>
                            <td>{{empdetails.companyJoinDate * 1000 | date:'dd MMMM yyyy'}}</td>

                        </tr>
                        <tr>
                            <td style="color:#3B5372">Company Leave Date</td>
                            <td>{{empdetails.companyLeaveDate * 1000 | date:'dd MMMM yyyy'}}</td>

                        </tr>
                        <tr>
                            <td style="color:#3B5372">Leaves Taken</td>
                            <td>{{empdetails.leaveTaken}}</td>

                        </tr>
                    </table>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4" id="left-sidebar" >
            <ul class="sidebar-nav" style="list-style:none;" id="sidepadding">
                <li ui-sref-active="active" class="active">
                    <div><a class="anchor" ui-sref=".Attendence"><span><img src="images/.png"></img></span><b>Attendence</b></a></div>
                </li>
                <li ui-sref-active="active">
                    <div><a class="anchor" ui-sref=".Personal" ><span><img ng-src="images/face - material.png"></img></span><b>Personal</b></a></div>
                </li>
                <li ui-sref-active="active">
                    <div><a class="anchor"><span><img ng-src="images/art_track - material.png"></img></span><b>Profile</b></a></div>
                </li>
                <li ui-sref-active="active">
                    <div><a class="anchor" href="#"><span><img ng-src="images/Group.png"></img></span><b>HRData</b></a></div>
                </li>
                <li ui-sref-active="active">
                    <div><a class="anchor" href="#"><span><img ng-src="images/ion-card - Ionicons.png"></img></span><b>Bank</b></a></div>
                </li>
                <li ui-sref-active="active">
                    <div><a class="anchor" href="#"><span><img ng-src="images/ion-android-compass - Ionicons.png"></img></span><b>TrackingSheet</b></a></div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-9 col-md-8 col-sm-8">
            <ui-view> </ui-view>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <ul style="list-style:none;">
        <li>
            <div><a class="anchor" ui-sref=".Attendence"><span><img src="images/.png"></img></span><b>Attendence</b></a></div>
        </li>
        <li>
            <div><a class="anchor" ui-sref=".Personal"><span><img ng-src="images/face - material.png"></img></span><b>Personal</b></a></div>
        </li>
        <li>
            <div><a class="anchor"><span><img ng-src="images/art_track - material.png"></img></span><b>Profile</b></a></div>
        </li>
        <li>
            <div><a class="anchor" href="#"><span><img ng-src="images/Group.png"></img></span><b>HRData</b></a></div>
        </li>
        <li>
            <div><a class="anchor" href="#"><span><img ng-src="images/ion-card - Ionicons.png"></img></span><b>Bank</b></a></div>
        </li>
        <li>
            <div><a class="anchor" href="#"><span><img ng-src="images/ion-android-compass - Ionicons.png"></img></span><b>TrackingSheet</b></a></div>
        </li>
    </ul>
</div>
<script>
$('#menuBar').on('click', function(event) {
  event.stopPropagation();
});
</script>
<script>
function openNav() {

    console.log("calledopen");
    document.getElementById("mySidenav").style.width = "250px";
$('#menuBar').on('click', function(event) {
  event.stopPropagation();
  $('#menuBar').off('click', function(event) {
  event.stopPropagation();
});
});
$(window).click(function() {
closeNav();
});
}

function closeNav() {
    console.log("called");
    document.getElementById("mySidenav").style.width = "0";
}
</script>