<md-dialog>
    <form ng-cloak>
        <md-dialog-content>

            <div class="md-dialog-content" id="popupStatus">
                
                <label style="float:right;position:fixed;margin: -15px;right:20%;">
               <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon></md-button>
          </label>
                <md-input-container>
                    <div style="overflow:auto;">
            <label>Reason</label>
            <textarea ng-model="reason"></textarea></div>
        </md-input-container>
                <md-button ng-click="save()" class="md-primary" style="position: absolute;bottom: 0px;left: 30%;">Save</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>