<md-dialog>
    <form ng-cloak>
        <md-dialog-content>

            <div class="md-dialog-content" id="popupStatus">

                <label style="float:right;position:fixed;margin: -15px;right:20%;">
               <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon></md-button>
          </label>
          <md-input-container>
                <input placeholder="In Time" type="time" ng-model="punchIn" ng-required></md-input-container>
                <md-input-container><input placeholder="Out Time" type="time" ng-model="punchOut" ng-required></md-input-container>
                <md-button ng-click="save()" class="md-primary" style="position: absolute;bottom: 0px;left: 30%;">Save</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
