<!--<md-dialog aria-label="Test">
    <div layout-padding layout="column">
        <md-input-container>
            <label>In Time</label>
            <input type="time" ng-model="punchIn">
        </md-input-container>
        <md-input-container>
            <label>Out Time</label>
            <input type="time" ng-model="punchOut">
        </md-input-container>
        <md-button ng-click="save()" class="md-primary">Save</md-button>
        <md-button ng-click="close()" class="md-primary">Close</md-button>
    </div>
</md-dialog>-->
<md-dialog>
    <form ng-cloak>
        <md-dialog-content>

            <div class="md-dialog-content" id="popupStatus">

                <label style="float:right;position:fixed;margin: -15px;right:20%;">
               <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon></md-button>
          </label>
          <md-input-container>
                <input placeholder="In Time" type="time" ng-model="punchIn"></md-input-container>
                <md-input-container><input placeholder="Out Time" type="time" ng-model="punchOut"></md-input-container>
                <md-button ng-click="save()" class="md-primary" style="position: absolute;bottom: 0px;left: 30%;">Save</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
